@import url('../Font/MavenPro-Regular_0.ttf');

html,body{
    width: 100%;
    margin: 0;
    font-family: 'MavenPro' !important;
    color:#fff !important;
}
img{
    height: 100%;
    width: 100%;
}
.main_div{
    height: 800px;
    width: 800px;
    background-image:url('../bg_image.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.contact{
    position: absolute;
    top: 20px;
    margin-left: 30px;
}
.contact i{
    margin-right: 6px;
}

.tree{
    height: 300px;
    width: 280px;
    position: absolute;
    top: 10%;
    left: 42%;
}

.title{
    position: absolute;
    top: 55%;
    left: 44%;
    font-size: 58px;
    font-style: italic;
}

.logo{
    position: absolute;
    top: 80%;
    left: 47%;
    font-size: 30px;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 53%;
    padding-left: 30px;
    text-align: left;
}
.follow_me, .email{
    width: 50%;
    float: left;
}
.email_ic{
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 10px;
}